# Descripiton
My First File in Watson Studio

In [1]:
# The code was removed by Watson Studio for sharing.

,Column1,Column2,Column3,Column4,Column5,Column6,Column7,Column8,Column9,Column10
0,3,35,33,4,15,25,61,4,80,76
1,90,83,59,35,22,99,72,61,70,10
2,69,22,39,42,60,12,26,18,42,37
3,52,42,28,76,19,87,33,25,54,64
4,62,7,13,12,54,14,11,60,50,52